

@font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Bold.eot?-kwf309');
    src:url('../fonts/OpenSans-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold.woff?-kwf309') format('woff'),
      url('../fonts/OpenSans-Bold.ttf?-kwf309') format('truetype'),
      url('../fonts/OpenSans-Bold.svg?-kwf309#AA-Arial') format('svg');
    font-weight: 700;
    font-style: normal;
  }  
  
  
  @font-face {
    font-family: 'Open Sans';
    src:url('../fonts/OpenSans-Regular.eot?-kwf309');
    src:url('../fonts/OpenSans-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/OpenSans-Regular.woff?-kwf309') format('woff'),
      url('../fonts/OpenSans-Regular.ttf?-kwf309') format('truetype'),
      url('../fonts/OpenSans-Regular.svg?-kwf309#AA-Arial') format('svg');
    font-weight: 400;
    font-style: normal;
  }  
  
  
  @font-face {
    font-family: 'Montserrat';
    src:url('../fonts/Montserrat-ExtraBold.eot?-kwf309');
    src:url('../fonts/Montserrat-ExtraBold.eot?#iefix-kwf309') format('embedded-opentype'),
      url('../fonts/Montserrat-ExtraBold.woff?-kwf309') format('woff'),
      url('../fonts/Montserrat-ExtraBold.ttf?-kwf309') format('truetype'),
      url('../fonts/Montserrat-ExtraBold.svg?-kwf309#AA-Arial') format('svg');
    font-weight: 800;
    font-style: normal;
  }  
  
  
  
  
  
  * {
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  
  }
  
  body {
    color: #fff;
    font-size: 16px;
    background: #232323;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  
  a {
    color: #fff;
    text-underline-offset: 3px;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  a:hover {
    color: #fff; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .clear {clear:both;}
  
  
  button {
    border:none;
    background: none;
    box-shadow: unset;
    
  }
  
  button:focus {
    outline: none;
    box-shadow: unset;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  header {
    padding: 0;
    background: url(../images/banner.jpg)center top no-repeat #232323;
    margin: 0 auto;
    background-size: cover;
  }
  
  .container {
      width: 1920px;
      margin: 0 auto;
      padding: 0 50px;
  }
  
  .hed__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 206px;
      padding: 20px 0;
  }
  
  ul.menu__top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  
  ul.menu__top li a {
      margin-right: 20px;
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      text-underline-offset: 3px;
  }
  
  ul.menu__top li a:hover {
      text-decoration: underline;
  }
  
  a.phone__is {
      background: url(../images/phone.svg)left top no-repeat;
      padding: 0 0 0 25px;
      margin-right: 10px;
  }
  
  button.but__top {
      border-radius: 5px;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      padding: 15px 20px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
  }
  
  .sale__but {
      display: flex;
      margin-bottom: 40px;
  }
  
  button.sale__galer {
      stroke-width: 2px;
      stroke: #F3D69A;
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 2px 45px 0 35px;
      border: 1px solid #F3D69A;
      margin-right: 30px;
      padding: 20px 26px;
      display: flex;
  }
  
  button.sale__galer span {
      margin-right: 10px;
  }
  
  .sale__tits {
      color: #FFF;
      font-family: Montserrat;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      width: 61%;
      margin-bottom: 25px;
  }
  
  .sale__tits span {
      color: #F3D69A;
      font-family: Montserrat;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }
  
  .sale__text {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 350px;
  }
  
  .forms__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 30px;
  }
  
  .forms__tit span {
    background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
    background-clip: text;
    -webkit-background-clip: 
    text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  form.forms__is input{
      padding: 20px 30px;
      width: 75%;
      margin-right: 25px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .forms__wrap__but {
      display: flex;
      margin-bottom: 14px;
  }
  
  button.forms__but {
      width: 35%;
      padding: 20px 30px;
      border-radius: 5px;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
  }
  
  
  input[type="checkbox"]:checked, 
  input[type="checkbox"]:not(:checked), 
  input[type="radio"]:checked, 
  input[type="radio"]:not(:checked) 
  {
      position: absolute;
      left: -9999px;
  }
  
  input[type="checkbox"]:checked + label, 
  input[type="checkbox"]:not(:checked) + label, 
  input[type="radio"]:checked + label, 
  input[type="radio"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      line-height: 20px;
      cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label:before, 
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, 
  input[type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 20px;
      height: 20px;
      border: 1px solid #DBBA76;
      background-color: transparent;
  }
  
  input[type="checkbox"]:checked + label:before, 
  input[type="checkbox"]:not(:checked) + label:before {
      border-radius: 2px;
  }
  
  input[type="radio"]:checked + label:before, 
  input[type="radio"]:not(:checked) + label:before {
      border-radius: 100%;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="checkbox"]:not(:checked) + label:after, 
  input[type="radio"]:checked + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="checkbox"]:not(:checked) + label:after {
      left: 5px;
      top: 2px;
      width: 10px;
      height: 11px;
      border-radius: 1px;
      border-left: 3px solid #DBBA76;
      border-bottom: 3px solid #DBBA76;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  
  input[type="radio"]:checked + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      left: 5px;
      top: 5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #e145a3;
  }
  
  input[type="checkbox"]:not(:checked) + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      opacity: 0;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="radio"]:checked + label:after {
      opacity: 1;
  }
  
  .label__is {
      display: flex;
      margin-right: 13px;
      width: 20px;
      height: 20px;
  }
  
  span.form__conf {
      display: block;
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 0;
  }
  
  span.form__conf a {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 10px;
  }
  
  button.forms__but:hover {
      opacity: 0.8;
  }
  
  .forms__bl {
      background: url(../images/form.png)left top no-repeat;
      width: 1204px;
      height: auto;
      padding: 45px 45px;
      margin: 0 auto 120px;
  }
  
  
  .slid__wrap {
      display: flex;
      flex-wrap: wrap;
  }
  
  .slid__img {
      width: 1203px;
      /* margin-right: 30px; */
  }
  
  .slid__text {/* width: 565px; */width: 36%;padding: 0 0px 0 30px;}
  
  .slid__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 51px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 30px;
  }
  
  .slid__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 51px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }
  
  .slid__text__is {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 40px;
      padding: 0 0 40px;
      border-bottom: 1px solid #d9d9d970;
  }
  
  .slid__text__wrap {
      display: flex;
      flex-wrap: wrap;
  }
  
  .slid__text__ist {
      width: 45%;
      color: #FFF;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-right: 30px;
      margin-bottom: 30px;
  }
  
  .slid__text__ist.is {
      margin-right: 0;
  }
  
  .text__is__ico {
      display: flex;
      align-items: center;
  }
  
  .ico__texts {
      font-family: Open Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .text__ico {
      margin-right: 10px;
  }
  
  section.slid__bl {
      background: url(../images/fons.png)left top no-repeat;
  }
  
  
  .arhit__bl {
      margin-bottom: 120px;
  }
  
  .slid__arowws__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
  }
  
  .slid__arowws__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  .slid__arowws__text {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 741px;
  }
  
  .slid__arowws__wrap {
      margin-bottom: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .slaid__ist {
      display: flex;
  }
  
  .slaif__img {
      margin-right: 30px;
  }
  
  .next-arrow {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background: #F3D69A;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
  }
  
  .prev-arrow {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background: #F3D69A;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .slid__arowws__is {
      display: flex;
  }
  
  .big__slids__wrpa.slidss.slick-initialized.slick-slider.slick-dotted {
      margin: 0 auto;
      text-align: center;
  }
  
  button.slick-prev.slick-arrow {
      background: url(../images/arrow-l.svg)left top no-repeat;
      width: 60px;
      height: 60px;
  }
  
  button.slick-next.slick-arrow {
      background: url(../images/arrow-r.svg)left top no-repeat;
      width: 60px;
      height: 60px;
  }
  
  .container.is {
      width:100%;
  }
  
  .big__slids__wrap {
      margin-bottom: 50px;
  }
  
  .inter__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
  }
  
  .inter__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
  }
  
  .text__inter__wrap {
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: center;
      /* align-items: center; */
      margin-bottom: 98px;
      max-width: 700px;
      margin: 0 auto 98px auto;
  }
  
  .ico__inter {
      /* width: 66px; */
      margin-right: 30px;
      width: 10%;
  }
  
  .text__inter {
      /* width: 30%; */
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 90%;
  }
  
  .text__inter span {
      color: #F3D69A;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .galer__inter__left {width: 50%;margin-right: 0px;}
  
  .galer__inter__wrap {
      display: flex;
      flex-wrap: wrap;
      z-index: 999;
      position: relative;
  }
  
  .galer__inter__is {
      display: flex;
      margin-bottom: 60px;
  }
  
  .galer__inter__img {
      margin-right: 30px;
  }
  
  .galer__inter__img:last-child {
      /* margin-right: 0; */
  }
  
  .galer__inter__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 25px;
  }
  
  .galer__inter__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  .galer__inter__text__is {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 587px;
  }
  
  .galer__inter__right {
      width: 50%;
  }
  
  .inter__bl {
      margin-bottom: 120px;
  }
  
  
  .big__bag {
      /* position: relative; */
      width: 100%;
      height: auto;
  }
  
  .big__bag:before {
      position: absolute;
      background: url(../images/background.png)center center no-repeat;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      background-size: contain;
  }
  
  .catalog__tit {
      color: #232323;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      width: 55%;
      margin-right: 36px;
  }
  
  .catalog__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  .catolog__wrap {
      border-radius: 50px;
      background: url(../images/catalog.png)left top no-repeat #fff;
      padding: 120px 50px;
      background-size: cover;
      margin-bottom: 120px;
  }
  
  .catalog__text {
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 42%;
  }
  
  .catalog__tit__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-bottom: 60px;
  }
  
  .catalog__wrap__bls {
      display: flex;
      flex-wrap: wrap;
  }
  
  .calog__bls {
      width: 414px;
      margin-right: 30px;
      background: url(../images/cards_catalo.png)left top no-repeat;
      background-size: cover;
  }
  
  .calog__bls:last-child {
      margin-right: 0;
  }
  
  .catalog__bls__img {
      margin-bottom: 35px;
  }
  
  .catalog__pad {
      padding: 0 30px;
  }
  
  .catolog__bls__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 15px;
  }
  
  .catalog__bls__ico__wrap {
      display: flex;
      width: 45%;
      margin-bottom: 15px;
  }
  
  .catalog__bls__ico__text {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  
  .catalog__bls__ico {
      margin-right: 10px;
  }
  
  .catalog__ico__wrap {
      display: flex;
      flex-wrap: wrap;
  }
  
  .catalog__bls__ico__wrap.is {
      width: 100%;
      margin-bottom: 29px;
      color: #FFF;
  /* button */
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  
  button.catalog__but {
      padding: 20px 30px;
      border-radius: 5px;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      width: 100%;
      margin-top: 30px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 35px;
  }
  
  .info__wrap {
      display: flex;
      margin-bottom: 120px;
  }
  
  .info__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 30px;
  }
  
  .info__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  .info__text p {
      color: #FFF;
  /* text */
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 15px;
  }
  
  .info__left {
      width: 30%;
      margin-right: 30px;
  }
  
  .info__right {
      display: flex;
      width: 70%;
  }
  
  .info__img {
      margin-right: 30px;
      width: 55%;
  }
  
  .info__ico__wrap {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
  }
  
  .info__ico__is {
      width: 50%;
      margin-bottom: 28px;
  }
  
  .info__ico {
      margin-bottom: 18px;
  }
  
  .info__ico__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 9px;
  }
  
  .info__text {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 98%;
  }
  
  .forms__tit.is {
      text-align: center;
  }
  
  form.form__wrap input[type="text"] {
      border-radius: 5px;
      border: 1px solid  #232323;
      opacity: 0.87;
      background: #FFF;
      padding: 20px 30px;
      width: 32%;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 15px;
  }
  
  button.form__but {
      border-radius: 5px;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      padding: 20px 30px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  
  .forms__is {
      border: 1px solid #F3D69A;
      background: url(../images/forms__bg.png)left top no-repeat #232323;
      width: 1512px;
      padding: 60px 84px;
      margin: 0 auto;
  }
  
  form.form__wrap {
      width: 100%;
      margin: 0 auto;
      text-align: center;
  }
  
  .forms__bls {
      background: url(../images/rectangle.png)left 96px no-repeat;
      width: 1920px;
      height: 480px;
  }
  
  
  .map__menu__tit {
      color: #FFF;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 50px;
  }
  
  .map__menu__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  span.menu__is__tit {
      color: #232323;
      font-family: Open Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 100%;
      margin-bottom: 15px;
  }
  
  ul.map__menu__is li a {
      background: #FFF;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-wrap: wrap;
  }
  
  .map__menu {
      width: 587px;
      padding: 60px 25px;
      background: #232323;
  }
  
  .map__rout__tit {
      color: #037347;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 5px;
      padding: 0px 0 5px 0;
  }
  
  .map__rout__wrap {
      display: flex;
      align-items: center;
  }
  
  .map__wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  
  
  .ico__textss {
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  ul.map__menu__is li a:hover {
      width: 110%;
      background:  #F3D69A;
  }
  
  .container.ist {
      /* position: relative; */
      padding: 0;
  }
  
  .map__wrpas {
      position: relative;
      margin-bottom: 136px;
  }
  
  .cont__map {
      position: absolute;
      top: 120px;
      left: 48px;
  }
  
  
  .ecspert__wrap {
      display: flex;
      flex-wrap: wrap;
  }
  
  .ecsoert__left {
      width: 50%;
      margin-right: 0;
  }
  
  .ecspert__right {
      width: 58%;
  }
  
  .info__ico__wrap.is {
      width: 100%;
  }
  
  .container.ist:before {
      position: absolute;
      background: url(../images/group.png)left center no-repeat;
      left: 0;
      right: 0;
      top: 59%;
      content: '';
      width: 100%;
      height: 100vh;
      z-index: 0;
      opacity: 0.1;
      background-size: cover;
  }
  
  
  
  .consul__left {
      background: url(../images/form-foot.png)left top no-repeat #fff;
      padding: 80px 50px;
      width: 769px;
  }
  
  .consul__tit {
      color: #232323;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 30px;
  }
  
  .consul__tit span {
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
  }
  
  .consul__text {
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 46px;
  }
  
  .container.isr {
      padding: 0;
  }
  
  
  span.soc__h {
      display: none;
  }
  
  ul.soc__info li a {
      display: flex;
      align-items: center;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 15px;
  }
  
  ul.soc__info li a:hover span.soc__h {
      display:block;
  }
  
  ul.soc__info li a:hover span.soc__is {
      display:none;
  }
  
  ul.soc__info {
      display: flex;
      margin-bottom: 25px;
  }
  
  ul.soc__info li a span {
      margin-right: 10px;
      margin-top: 2px;
  }
  
  ul.soc__info li a:hover {
      color: #037347;
      text-decoration: underline;
  }
  
  .ecspert__bl {
      margin-bottom: 120px;
  }
  
  .forms__wrap__but input{
      width: 100%;
      padding: 20px 30px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 25px;
  }
  
  form.form__map input {
      border-radius: 5px;
      border: 1px solid  #232323;
      opacity: 0.87;
      background:  #FFF;
      padding: 20px 30px;
      width: 70%;
      margin-bottom: 20px;
  }
  
  .config__bl {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  }
  
  span.form__confs {
      width: 63%;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  span.form__confs a {
      color: #232323;
  /* text */
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  button.but__map {
      padding: 20px 30px;
      color: #232323;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 5px;
      background: var(--golden-gradient, linear-gradient(180deg, #DBBA76 0%, #F3D69A 100%));
  }
  
  .consul__wrap {
      display: flex;
      flex-wrap: wrap;
  }
  
  .consul__right {
      width: 59%;
  }
  
  footer {
    padding: 80px 49px;
    position: relative;
    margin: -90px auto 0;
    width: 1920px;
    border-radius: 100px 100px 0px 0px;
    border-top: 2px solid var(--main, #F3D69A);
    border-right: 2px solid var(--main, #F3D69A);
    border-left: 2px solid var(--main, #F3D69A);
    background: var(--content, #232323);
  }
  
  .foot__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff6;
      padding-bottom: 30px;
      margin-bottom: 30px;
  }
  
  ul.foot__menu {
      display: flex;
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
  
  ul.foot__menu li {
      margin-right: 20px;
  }
  
  .web__sit {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .polit__foot {
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  
  .foot__wrap.is {
      border-bottom: none;
  }
  
  span.mob {
      display: none;
  }
  
  span.dexc_mob {
      display: none;
  }
  
  .slaid__ist.slids .slick-list.draggable{
      margin: 0px -26px 0 -9px;
  }
  
  
  .catolog__bl .container {
    padding: 0;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  